
.specification {
  margin-bottom: 4rem;

  &-top {

    &-wr {
      @include respond-to(tablet-lend) {
        background-position-y: 0;
      }

    }

    &-item {

      margin-top: 2.0rem;
      padding-bottom: 5.0rem;

      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin: 0 -.5rem;

        @include respond-to(phone) {
          margin: 0;
          justify-content: center;
        }
      }

      li {
        margin: .5rem;
      }

      .btn {
        font-size: 15px;
        @include line-height(15, 38.1);
        text-transform: uppercase;
        padding-left: 40px;
        padding-right: 40px;


        @include respond-to(telephone) {
          padding-right: 10px;
          padding-left: 10px;
          font-size: 13px;
        }
      }

      .btn-blue {
        text-decoration: underline;
        color: #FFFFFF;

        &:hover {
          opacity: 1;
          color: #ffffff;
        }
      }

      .btn-submit {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }

  }

  li {
    font-size: 1rem;
    margin-top: 1.25rem;
  }

  /*strong {
    font-size: 1.25rem;
  }*/

  &-news-bloc {

    padding-top: 2rem;
    padding-bottom: 2rem;

    .news-bloc {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

  }
}

.specification-info, .one-new-info-item {
  h1, h2, h3, h4, h5, h6 {
    color: #212121;
    margin-top: 8px;
    margin-bottom: 16px;
    text-transform: none;
    font-weight: 400;
  }

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }

  div, p {
    margin-bottom: 16px;
  }

}