// Media width
$phone: 320px;
$min-tablet: 380px;
$telephone: 550px;
$big-phone: 650px;
$small: 767px;
$large: 1025px;
$wide: 1200px;
$wide_: 1200px;


//Fonts
$ffMuseoSansCyrl_0: 'Conv_MuseoSansCyrl_0', sans-serif;
$ffMuseoSansCyrl_2: 'Conv_MuseoSansCyrl_2', sans-serif;
$ffBoldMuseoSansCyrl_3: 'Conv_MuseoSansCyrl_3', sans-serif;
$ffRoman: 'Avenir', sans-serif;
$ffPlay_Light: 'Play-Regular', sans-serif;
$ffPlay_Bold: 'Play-Bold', sans-serif;
$ffRoboto_Light: 'Roboto-Light', sans-serif;
$ffRoboto_Medium: 'Roboto-Medium', sans-serif;
$ffRoboto_Regular: 'Roboto-Regular', sans-serif;


//Colors

$menuLinks: #6e6d73;
$colorBody: #212121;

$colBgElement: #b63bc7;

//Background
$bacMenu: #131722;
$bacTxt: #f4f5f7;


$primary:#4070F4;
$primary-h: #2644e3;
$gray:#72819F;
$dark:#282E38;
$light-gray:#F3F6F8;
$light-blue:#F7FAFC;
$gray-blue:#D0D2DB;
$dark-gray: #96989c;
$default-text:#50535A;
$velvet-blue: #e6e9f5;


$border-order:1px solid #F0F1F6